

[data-tab-info] {
    display:none;
}
  
.active[data-tab-info] {
    display: block;
}
  
.tab-content {
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
  
.tabs {
    font-size: 40px;
    color: rgb(255, 255, 255);
    display: flex;
    margin: 0;
}
  
.tabs span {
    background: rgb(145, 28, 28);
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
}
  
.tabs span:hover {
    background: rgb(185, 47, 29);
    cursor: pointer;
    color: black;
}

